<ul id="list-menu">
    <li><a href="/home" class="menu">Home</a></li>
    <li><a href="/about" class="menu">About</a></li>
    <li><a href="/works" class="menu">Works</a></li>
    <li><a href="/photo" class="menu">Photo Gallery</a></li>
</ul>