{{> nav}}
<h1 id="title-about">History of Michael Jordan</h1>
<p id="description-p">Michael Jordan byname Air Jordan widely considered to be
    the greatest all-around player in the history of the game. He led the National Basketball Association
    Chicago Bulls to six championships during the 90's</p>
<img id="description-MJ" src="/images/MJ.jpg" alt="MJ description">
<p id="description-p">His leaping ability, demonstrated by performing slam dunks from the free throw line in Slam Dunk
    Contests
    earned him the nicknames "Air Jordan" and "His Airness".<br>
    One of the most effectively marketed athletes of his generation, he is also known for his products endorsements.
    He fueled the success of Nike's Air Jordan sneakers, he also starred as himself in the movie Space Jam.
    In 2014, Jordan became the first billionaire in NBA history</p>
<img id="dunk-MJ" src="/images/MJ-dunk.jpeg" alt="MJ Dunk">