{{> nav}}
<img id="wings-MJ" src="/images/MJ-Accueil.jpg" alt="Michael Jordan Wings">
<p id="welcome-p">Welcome aboard Air Jordan</p>
<iframe width="620" height="450" src="https://www.youtube.com/embed/LAr6oAKieHk"></iframe>