{{> nav}}
<div id="gallery1">
    <img class="gallery-photo" src="/images/MJ1.jpg" alt="First photo">
    <img class="gallery-photo" src="/images/MJ2.jpg" alt="Second photo">
    <img class="gallery-photo" src="/images/MJ3.jpg" alt="Third photo">
    <img class="gallery-photo" src="/images/MJ4.jpg" alt="Fourth photo">
    <img class="gallery-photo" src="/images/MJ5.jpg" alt="Fivth photo">
    <img class="gallery-photo" src="/images/MJ6.jpg" alt="Sixth photo">
</div>

<div id="gallery1">
    <img class="gallery-photo" src="/images/MJ7.jpg" alt="First photo">
    <img class="gallery-photo" src="/images/MJ8.jpg" alt="Second photo">
    <img class="gallery-photo" src="/images/MJ9.jpg" alt="Third photo">
    <img class="gallery-photo" src="/images/MJ10.jpg" alt="Fourth photo">
    <img class="gallery-photo" src="/images/MJ11.jpg" alt="Fivth photo">
    <img class="gallery-photo" src="/images/MJ12.jpg" alt="Sixth photo">
</div>

<div8 id="gallery1">
    <img class="gallery-photo" src="/images/MJ13.jpg" alt="First photo">
    <img class="gallery-photo" src="/images/MJ14.jpg" alt="Second photo">
    <img class="gallery-photo" src="/images/MJ15.jpg" alt="Third photo">
    <img class="gallery-photo" src="/images/MJ16.jpg" alt="Fourth photo">
    <img class="gallery-photo" src="/images/MJ17.jpg" alt="Fivth photo">
    <img class="gallery-photo" src="/images/MJ18.jpg" alt="Sixth photo">
</div8