{{> nav}}
<nav>
    <ul>
        <li class="deroulant"><a href="#">Accomplishments</a>
            <ul class="sous">
                <li><a class="part1">Philantropy</a></li>
                <li><a class="part2">National team carrer</a></li>
                <li><a class="part3">Jordan's Legacy</a></li>
            </ul>
        </li>
    </ul>
</nav>

<p id="paragraph-description">Click on a menu</p>