{{> nav}}
<p>welcome in works</p>

<nav>
    <ul>
        <li class="deroulant"><a href="#">Cours</a>
            <ul class="sous">
                <li><a class="category-selected" href="#">Cours html</a></li>
                <li><a class="category-selected" href="#">Cours css</a></li>
                <li><a class="category-selected" href="#">Cours js</a></li>
            </ul>
        </li>
        <li class="deroulant"><a href="#">Articles</a>
            <ul class="sous">
                <li><a class="category-selected" href="#">Cours html2</a></li>
                <li><a class="category-selected" href="#">Cours html3</a></li>
                <li><a class="category-selected" href="#">Cours html4</a></li>
            </ul>
        </li>
    </ul>
</nav>

<p id="paragraph-description">Click on a menu</p>