.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(139, 0, 0);
    color: white;
    text-align: center;
}

.gallery-photo {
    width: 15%;
    height: 15%;
}

#gallery1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

#paragraph-description {
    text-align: center;
    color: grey;
    font-size: 22px;
    padding-top: 90px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 25%;
    text-align: center;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    color: orange;
    border-bottom: 2px solod gold;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: whitesmoke;
    border-radius: 20px;
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
    font-size: 18px;
}

.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
}

.deroulant {
    font-size: 18px;
    margin-left: 35%;
}

.deroulant>a::after {
    content: " ▼";
    font-size: 12px;
}

.conteneur {
    margin: 50px 20px;
    height: 1500px;
}

#title-about {
    margin-left: 25%;
}

#title-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    width: 10%;
    height: 10%;
}


h1 {
    text-align: center;
    width: 50%;
}

iframe {
    display: block;
    margin: 0 auto;
}

#welcome-p {
    text-align: center;
    color: grey;
    font-size: 40px;
}

#description-p {
    text-align: center;
    color: grey;
    font-size: 22px;
}

#dunk-MJ {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 400px;
}

#description-MJ {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 200px;
}

#wings-MJ {
    width: 100%;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

.menu {
    font-size: 25px;
    text-decoration: none;
}

#list-menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}